.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.drop-zone p {
    margin: 0;
}

#result {
    font-weight: bold;
}

body{
    background: linear-gradient(300deg, #00bfff, #32e254, #b1dc36);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.home{
    text-align: center;
    width: 70%;
    margin: auto;
}

h1{
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 5rem;
    color: orange;
}